<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" requireReinstallation="True" />
  <package id="jQuery" version="2.1.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.11.2" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="MySql.Data" version="6.8.4" targetFramework="net40" requireReinstallation="True" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Respond" version="1.2.0" targetFramework="net45" />
</packages>