<p id="message" ng-class="{ 'text-success': model.@(ViewData["Prefix"])MessageType === MessageType.Success, 'text-danger': model.@(ViewData["Prefix"])MessageType === MessageType.Error }"
   class="preserve-newlines">{{ model.@(ViewData["Prefix"])Message }}</p>