<p id="message" ng-class="{ 'text-success': model.@(ViewData["Prefix"])MessageType === 1, 'text-danger': model.@(ViewData["Prefix"])MessageType === 2 }"
   class="preserve-newlines">{{ model.@(ViewData["Prefix"])Message }}</p>