<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LocalMySql" connectionString="Server=localhost;Database=climbing;Port=3306;UID=root;PWD=" providerName="MySql.Data.MySqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>