@using CarpoolPlanner;
@using CarpoolPlanner.ViewModel;

@model LoginViewModel

@{
  ViewBag.Title = "Login";
  Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Login</h2>
<div class="form-horizontal">
  <form method="post" name="loginForm" ng-submit="ngNet.validateForm(loginForm) && ngNet.submit('@Url.Action("Login", "User")')" novalidate>
    <div class="form-group">
      <label class="col-md-2 control-label">User name</label><!-- TODO: read from ViewModel metadata? -->
      <div class="col-md-10">
        <input type="text" ng-model="ngNet.model.UserName" class="form-control" required="required" error-message="User name is required." />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Password</label><!-- TODO: read from ViewModel metadata? -->
      <div class="col-md-10">
        <input type="password" ng-model="ngNet.model.Password" class="form-control" required="required" error-message="Password is required." />
      </div>
    </div>
    <!-- TODO: remember me-->
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Login" class="btn btn-default" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10" style="margin-top:15px;">
        @Html.ActionLink("Register as a new user", "User", "Register")
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10" style="margin-top:15px;">
        <!-- TODO: make a directive for this (ngInclude) -->
        <p id="message" ng-class="{ 'text-success': ngNet.model.MessageType === 1, 'text-danger': ngNet.model.MessageType === 2 }">{{ ngNet.model.Message }}</p>
      </div>
    </div>
  </form>
</div>